body {background-image: url(assets/bg.png);}
#Card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{color: white;
position: absolute;
top: 30px;
left: 60px;}

form {color: white;
position: absolute;
top: 100px;
left: 40px;}

textarea {width: 20em;
height: 5em;}

#letzte {width: 6em;}